

<div class = "container">
	<div class="page-header text-center" id="banner">
		<h1>MicroCaps</h1>
	</div>
	
	
	
		<div class="alert alert-danger" ng-hide = "vm.error.hidden">
		  <strong>Error!</strong> {{vm.error.message}}
		</div>
		<table class="table table-striped table-hover table-bordered">
		  <thead class="thead-inverse">
		    <tr >
		      <th class="text-warning text-center">Rank</th>
		      <th class="text-warning text-center">Name</th>
		      <th class="text-warning text-center">Symbol</th>
		      <th class="text-warning text-center">Market Cap</th>
		      <th class="text-warning text-center">Volume</th>
		      <th class="text-warning text-center">V:M Ratio</th>
		      <th class="text-warning text-center">1h Change</th>
		      <th class="text-warning text-center">24h Change</th>
		      <th class="text-warning text-center">7d Change</th>
		      <th class="text-warning text-center">Link</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="item in vm.microcaps">
		      <td class="text-center">{{item.rank}}</td>
		      <td class="text-center">{{item.name.charAt(0).toUpperCase() + item.name.slice(1)}}</td>
		      <td class="text-center">{{item.symbol}}</td>
		      <td class="text-center">{{item.market_cap_usd}} $</td>
		      <td class="text-center">{{item["24h_volume_usd"]}} $</td>
		      <td class="text-center">{{item.volume_marketcap_ratio}}</td>
		      <td class="text-center">{{item.percent_change_1h}} %</td>
		      <td class="text-center">{{item.percent_change_24h}} %</td>
		      <td class="text-center">{{item.percent_change_7d}} %</td>
		      <td class="text-center"><a href = "{{item.announcementUrl}}" ng-hide="item.announcementUrl == null || item.announcementUrl == ''">Link</a></td>
		    </tr>
  		</tbody>
		</table> 
	
</div>